# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# pytype / mypy
.mypy_cache/
.pyre/

# Editors and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~

# OS files
Thumbs.db
.DS_Store

# Environment variables
.env
.env.*

# Databases
*.sqlite3

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Celery
celerybeat-schedule
