<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title> AutoWash Simulación</title>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        {% block navbar_back %}{% endblock %}
        <div class="navbar-brand">
            <span>AutoWash Simulación</span>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>Proyecto TP4 — Lavadero Eco-Clean</small>
    </footer>
</body>

</html>